.container {
  width: 40%;
  margin: auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
}

.full-width {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

img {
  width: 200px;
  margin: 0 auto 2rem auto;
}

.perfis {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 700px) {
  .container {
    width: 90%;
  }
}
