.container {
  padding: 2rem;
  width: 100%;
}

h1 {
  margin-bottom: 2rem;
}

button {
  margin-bottom: 2rem;
}

table {
  width: 100%;
}

.edit {
  color: #fbc02d; /* Amarelo */
  margin-right: 1rem;
  cursor: pointer;
}

.delete {
  color: #e53935; /* Vermelho */
  cursor: pointer;
}
