/* Import do tema do Angular Material */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Import do Toastr (O alerta) */
@import "ngx-toastr/toastr.css";

/* Configurações globais */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
